* {
  font-family: system-ui, sans-serif;
}


/* CHALLENGE 1 - Button Hover */
.styledbutton {
    border-width: 2px;
    border-style: solid;
    border-color:#073B4C;
    padding: 20px 60px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color:#073B4C;
    transition: background-color 0.5s ease-out;
    
}

.styledbutton:hover {
    background-color:#118AB2;
    color:white;
    cursor: pointer;
}

/* CHALLENGE 2 - Oscillating Rectangles */

.bar {
  width: 200px;
  height: 60px;
  background-color: #444444;
  margin: 60px auto;
  animation-name: alternate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bar:first-of-type {
  animation-direction: reverse;
}


@keyframes alternate {
  0% {
    transform: translate(0px, 0);
  }
  25% {
    transform: translate(200px, 0);
  }
  75% {
    transform: translate(-200px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}




/* CHALLENGE 3 - Circle Wave */

.circle {
  display: inline-block; 
  /*border-spacing: 150px;*/
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  background-color: #EF476F;
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle:nth-child(3){
  background-color: #FFD166;
}

.circle:nth-child(4){
  background-color: #06D6A0;
}
.circle:nth-child(5){
  background-color: #118AB2;
}
.circle:nth-child(6){
  background-color: #073B4C;
}

/*
section:nth-child(4){
  display: block;
  width: 100vw;
  border: 3px solid red;
}
*/

.bar:first-of-type {
  animation-direction: reverse;
}

/*
@keyframes wave {
  0% {
    transform: translate(0px, 0);
  }
  50% {
    transform: translate(0px, 100px);
  }
  100% {
    transform: translate(0px, 0);
  }
}
*/